/**********************TAG SELECTOR**********************************/
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  font-size: 5.625rem;
  color: #4B3869;
  line-height: 2;
  margin-top: 0;
  margin: 50px auto 0 auto;
  font-family: 'The Nautigal', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #664E88;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #4A403A;

}

hr{
  border-style: dotted none none none;
  width: 2%;
  border-width: 5px;
  border-color: #EAF6F6;
  margin: 100px auto;
}

p{
  line-height: 2;
}

a{
  margin: 10px 20px;
  text-decoration: none;
  font-family: 'Merriweather', serif;
}

a:hover {
  color: #7C99AC;
}

/***********************CLASS SELECTOR body********************************/
.top-container{
  background-color: #EAEAEA;
  position: relative;
  padding-top: 200px;

}

.middle-container{
  margin: 100px 0;

}

.bottom-container{
  /* background-color: #EEF2FF; */
  padding: 50px 0 50px 0;
  background-color: #EEEEEE;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-me{
  margin: 80px 0 80px 0;
}

.intro{
  width: 50%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px auto;
}

.btn {
  background: #414142;
  background-image: -webkit-linear-gradient(top, #414142, #292a2b);
  background-image: -moz-linear-gradient(top, #414142, #292a2b);
  background-image: -ms-linear-gradient(top, #414142, #292a2b);
  background-image: -o-linear-gradient(top, #414142, #292a2b);
  background-image: linear-gradient(to bottom, #414142, #292a2b);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #d2d8db;
  background-image: -webkit-linear-gradient(top, #d2d8db, #b6b9ba);
  background-image: -moz-linear-gradient(top, #d2d8db, #b6b9ba);
  background-image: -ms-linear-gradient(top, #d2d8db, #b6b9ba);
  background-image: -o-linear-gradient(top, #d2d8db, #b6b9ba);
  background-image: linear-gradient(to bottom, #d2d8db, #b6b9ba);
  text-decoration: none;
}

.copyright{
  padding: 20px 0;
  font-size: 0.75rem

}

/***********************CLASS IMG SELECTOR********************************/
.cloud-top{
  position: absolute;
  top: 120px;
  right: 200px;
  width: 200px;
  height: 100px;
}

.cloud-middle{
  position: absolute;
  left: 100px;
  width: 200px;
  height: 100px;
}

.cloud-bottom{
  position: absolute;
  width: 200px;
  height: 100px;
}

.rafi-images{
  margin-top: 50px;
  width: 150px;
  height: 150px;
}

.coding-images{
  width: 25%;
  margin-right: 30px;
  float: left;

}

.web-design{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bird-left{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 350px;
  bottom: 350px;
}

.bird-right{
  position: absolute;
  width: 150px;
  height: 150px;
  right: 350px;
  bottom: 350px;
}
/***********************ID SELECTOR***********************************/
